create database KHOA_LUAN_MXH
USE [KHOA_LUAN_MXH]
GO
/****** Object:  Table [dbo].[TBL_BAIDANG]    Script Date: 1/22/2021 9:34:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BAIDANG](
	[ID_BAIDANG] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAIBAIDANG] [int] NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[NOIDUNG_BAIDANG] [nvarchar](max) NULL,
	[TYPEPOST] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[ID_KHENTHUONG] [int] NULL,
	[ID_GROUP] [int] NULL,
 CONSTRAINT [PK__TBL_BAID__61ADF1EED86A5588] PRIMARY KEY CLUSTERED 
(
	[ID_BAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BAIDANG_LIKE]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BAIDANG_LIKE](
	[ID_BAIDANG] [int] NOT NULL,
	[ID_LIKE] [int] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NOT NULL,
	[COL_DISABLED] [bit] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_TBL_BAIDANG_LIKE] PRIMARY KEY CLUSTERED 
(
	[ID_BAIDANG] ASC,
	[CREATE_BY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_BaiDang_TRANGCANHAN]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BaiDang_TRANGCANHAN](
	[ID_BAIDANG_CANHAN] [int] IDENTITY(1,1) NOT NULL,
	[ID_CANHAN] [int] NULL,
	[ID_USER] [int] NULL,
	[ID_BAIDANG] [int] NULL,
	[COL_DISABLE] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAIDANG_CANHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_COMMENT]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMMENT](
	[ID_COMMENT] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAIDANG] [int] NULL,
	[CreatedBy_cmt] [int] NULL,
	[NOIDUNG_COMMENT] [nvarchar](max) NULL,
	[TYPEPOST] [varchar](max) NULL,
	[CreatedDate_cmt] [datetime] NULL,
	[ID_COMMENT_PARENT] [int] NULL,
	[UpdatedDate_cmt] [datetime] NULL,
	[UpdatedBy_cmt] [int] NULL,
 CONSTRAINT [PK__TBL_COMM__E211A5C2BFB35E81] PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMMENT_LIKE]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMMENT_LIKE](
	[ID_COMMENT] [int] NOT NULL,
	[ID_LIKE] [int] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NOT NULL,
	[COL_DISABLED] [bit] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_TBL_COMMENT_LIKE] PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC,
	[CREATE_BY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_Flow]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Flow](
	[ID_CANHAN] [int] NOT NULL,
	[USER_Flow] [int] NOT NULL,
 CONSTRAINT [PK_TBL_Flow] PRIMARY KEY CLUSTERED 
(
	[ID_CANHAN] ASC,
	[USER_Flow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GHIM]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GHIM](
	[ID_THONGDIEP] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_LUOTXEM] PRIMARY KEY CLUSTERED 
(
	[ID_THONGDIEP] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GROUP]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_GROUP](
	[ID_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_GROUP] [nvarchar](max) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[Avatar_group] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_GROUPMEMBER]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUPMEMBER](
	[ID_GROUP] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[QUYEN_ADMIN] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_KHENTHUONG]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_KHENTHUONG](
	[ID_KHENTHUONG] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[LINK_ICON] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KHENTHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_LIKE]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LIKE](
	[ID_LIKE] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[LINK_ICON] [nvarchar](max) NULL,
	[Disabled_icon] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LIKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LOAIBAIDANG]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_LOAIBAIDANG](
	[ID_LOAIBAIDANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIBAIDANG] [nvarchar](50) NULL,
	[BACKGROUND] [nvarchar](max) NULL,
	[LINK_ICON_BAIDANG] [varchar](max) NULL,
	[TEMPLATE] [nvarchar](max) NULL,
	[ICON_APP] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIBAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_LUOTXEM]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LUOTXEM](
	[ID_THONGDIEP] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_TBL_LUOTXEM] PRIMARY KEY CLUSTERED 
(
	[ID_THONGDIEP] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_MEDIA]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MEDIA](
	[ID_MEDIA] [int] IDENTITY(1,1) NOT NULL,
	[HINHANH] [varchar](max) NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[template] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MEDIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MESSENGES]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MESSENGES](
	[ID_MESS] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG_MESS] [nvarchar](max) NULL,
	[LINK_ICON_IN_MESSAGE] [varchar](max) NULL,
	[ID_USER_SEND] [int] NULL,
	[ID_USER_NHAN] [int] NULL,
	[DATE_SEND] [datetime] NULL,
	[TYPE_MESS] [varchar](max) NULL,
	[COL_DISABLED_CURRENT] [int] NULL,
 CONSTRAINT [PK__TBL_MESS__472B15C41C0E0E7A] PRIMARY KEY CLUSTERED 
(
	[ID_MESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONG] [int] NULL,
	[CHUCVU] [nvarchar](max) NULL,
	[HOTEN] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](11) NULL,
	[GIOITINH] [nvarchar](100) NULL,
	[NGAYVAOLAM] [date] NULL,
 CONSTRAINT [PK__TBL_NHAN__B87DC9B2EBBE4B35] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG](
	[ID_USER] [int] NOT NULL,
	[ID_LOAIBAIDANG] [int] NOT NULL,
 CONSTRAINT [PK_NHOM_QUYEN_LOAIBAIDANG] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_LOAIBAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PHONGBAN]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHONGBAN](
	[ID_PHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_THONGBAO]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THONGBAO](
	[ID_THONGBAO] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[ID_BAIDANG] [int] NULL,
	[ID_COMMENT] [int] NULL,
	[ID_USER] [int] NULL,
	[TimeTB] [datetime] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK__TBL_THON__A21DA24D9F40842F] PRIMARY KEY CLUSTERED 
(
	[ID_THONGBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_THONGDIEPCEO]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_THONGDIEPCEO](
	[ID_THONGDIEP] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[TYPEPOST] [varchar](max) NULL,
	[COL_DISABLE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THONGDIEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TRANGCANHAN]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TRANGCANHAN](
	[ID_CANHAN] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[AnhBia] [varchar](max) NULL,
	[TieuSu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CANHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 1/22/2021 9:34:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[IDNV] [int] NULL,
	[Email] [varchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Pass] [varchar](max) NULL,
	[AVATAR] [nvarchar](max) NULL,
	[Token] [varchar](max) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BAIDANG] ON 

INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [ID_KHENTHUONG], [ID_GROUP]) VALUES (1, 1, N'Hôm nay mọi người có làm không', N' Có làm thì nói mình với nha ', N'', CAST(0x0000ABA900000000 AS DateTime), 1, CAST(0x0000ACAA01731030 AS DateTime), 0, NULL, 1)
INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [ID_KHENTHUONG], [ID_GROUP]) VALUES (1416, 2, N' Thái Kim Hùng', N'Thành viên xuất sắc nhất năm mọi người cùng chúc mừng nào !', N'', CAST(0x0000AC9D00DF05C0 AS DateTime), 1, CAST(0x0000ACAA0174FC60 AS DateTime), 1, 2, NULL)
INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [ID_KHENTHUONG], [ID_GROUP]) VALUES (1472, 7, N'đề  xuất có ảnh sửa', N' testttt ', N'2_5be97da101a3f.jpg', CAST(0x0000ACA200FE0F10 AS DateTime), 2, CAST(0x0000ACA20115ADF0 AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_BAIDANG] OFF
INSERT [dbo].[TBL_BAIDANG_LIKE] ([ID_BAIDANG], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 6, NULL, 1, 0, CAST(0x0000AC8E01257830 AS DateTime), 1)
INSERT [dbo].[TBL_BAIDANG_LIKE] ([ID_BAIDANG], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, NULL, 2, 0, NULL, NULL)
INSERT [dbo].[TBL_BAIDANG_LIKE] ([ID_BAIDANG], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 2, NULL, 3, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_BaiDang_TRANGCANHAN] ON 

INSERT [dbo].[TBL_BaiDang_TRANGCANHAN] ([ID_BAIDANG_CANHAN], [ID_CANHAN], [ID_USER], [ID_BAIDANG], [COL_DISABLE], [CreatedDate]) VALUES (1, 1, 1, 1, 1, CAST(0x0000ACB600000000 AS DateTime))
INSERT [dbo].[TBL_BaiDang_TRANGCANHAN] ([ID_BAIDANG_CANHAN], [ID_CANHAN], [ID_USER], [ID_BAIDANG], [COL_DISABLE], [CreatedDate]) VALUES (2, 1, 1, 1416, 1, CAST(0x0000ACB6007BDEF0 AS DateTime))
INSERT [dbo].[TBL_BaiDang_TRANGCANHAN] ([ID_BAIDANG_CANHAN], [ID_CANHAN], [ID_USER], [ID_BAIDANG], [COL_DISABLE], [CreatedDate]) VALUES (3, 1, 1, 1472, 1, CAST(0x0000ACB600000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_BaiDang_TRANGCANHAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] ON 

INSERT [dbo].[TBL_COMMENT] ([ID_COMMENT], [ID_BAIDANG], [CreatedBy_cmt], [NOIDUNG_COMMENT], [TYPEPOST], [CreatedDate_cmt], [ID_COMMENT_PARENT], [UpdatedDate_cmt], [UpdatedBy_cmt]) VALUES (1, 1, 1, N'Sao ko thấy ai trả lời vậy
', N'0', CAST(0x0000AC7900000000 AS DateTime), 0, CAST(0x0000ACAA01731030 AS DateTime), 1)
INSERT [dbo].[TBL_COMMENT] ([ID_COMMENT], [ID_BAIDANG], [CreatedBy_cmt], [NOIDUNG_COMMENT], [TYPEPOST], [CreatedDate_cmt], [ID_COMMENT_PARENT], [UpdatedDate_cmt], [UpdatedBy_cmt]) VALUES (52, 1, 2, N'Có đi làm nha', N'1', CAST(0x0000AC87011BB8D0 AS DateTime), 0, CAST(0x0000ACAA01735680 AS DateTime), 2)
INSERT [dbo].[TBL_COMMENT] ([ID_COMMENT], [ID_BAIDANG], [CreatedBy_cmt], [NOIDUNG_COMMENT], [TYPEPOST], [CreatedDate_cmt], [ID_COMMENT_PARENT], [UpdatedDate_cmt], [UpdatedBy_cmt]) VALUES (102, NULL, 1, N'Test chill cmt', N'1', CAST(0x0000AC8A00CA6C50 AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] OFF
INSERT [dbo].[TBL_COMMENT_LIKE] ([ID_COMMENT], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, CAST(0x0000AC7900000000 AS DateTime), 1, 0, CAST(0x0000AC8E010A1D0A AS DateTime), 1)
INSERT [dbo].[TBL_COMMENT_LIKE] ([ID_COMMENT], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, NULL, 2, 0, NULL, NULL)
INSERT [dbo].[TBL_COMMENT_LIKE] ([ID_COMMENT], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 6, NULL, 3, 0, CAST(0x0000AC8D00B1A26A AS DateTime), 3)
INSERT [dbo].[TBL_Flow] ([ID_CANHAN], [USER_Flow]) VALUES (1, 2)
INSERT [dbo].[TBL_Flow] ([ID_CANHAN], [USER_Flow]) VALUES (1, 3)
INSERT [dbo].[TBL_Flow] ([ID_CANHAN], [USER_Flow]) VALUES (2, 1)
INSERT [dbo].[TBL_GHIM] ([ID_THONGDIEP], [ID_USER]) VALUES (8, 1)
INSERT [dbo].[TBL_GHIM] ([ID_THONGDIEP], [ID_USER]) VALUES (11, 1)
INSERT [dbo].[TBL_GHIM] ([ID_THONGDIEP], [ID_USER]) VALUES (17, 1)
SET IDENTITY_INSERT [dbo].[TBL_GROUP] ON 

INSERT [dbo].[TBL_GROUP] ([ID_GROUP], [TEN_GROUP], [CREATE_DATE], [CREATE_BY], [UPDATE_BY], [UPDATE_DATE], [Avatar_group]) VALUES (1, N'Group Kinh Doanh ', CAST(0x0000AB6700000000 AS DateTime), 1, 0, CAST(0x0000AC98009CD470 AS DateTime), NULL)
INSERT [dbo].[TBL_GROUP] ([ID_GROUP], [TEN_GROUP], [CREATE_DATE], [CREATE_BY], [UPDATE_BY], [UPDATE_DATE], [Avatar_group]) VALUES (2, N'Group Nhân Sự', CAST(0x0000AC8D00000000 AS DateTime), 3, 0, CAST(0x0000AC950105BFD0 AS DateTime), NULL)
INSERT [dbo].[TBL_GROUP] ([ID_GROUP], [TEN_GROUP], [CREATE_DATE], [CREATE_BY], [UPDATE_BY], [UPDATE_DATE], [Avatar_group]) VALUES (3, N'Group Kĩ Thuật', CAST(0x0000AC8D00000000 AS DateTime), 1, 0, CAST(0x0000AC950105BFD0 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_GROUP] OFF
INSERT [dbo].[TBL_GROUPMEMBER] ([ID_GROUP], [ID_USER], [QUYEN_ADMIN], [CREATE_DATE]) VALUES (1, 1, 1, CAST(0x0000AC98010C1100 AS DateTime))
INSERT [dbo].[TBL_GROUPMEMBER] ([ID_GROUP], [ID_USER], [QUYEN_ADMIN], [CREATE_DATE]) VALUES (1, 2, 1, CAST(0x0000ACB200C99960 AS DateTime))
INSERT [dbo].[TBL_GROUPMEMBER] ([ID_GROUP], [ID_USER], [QUYEN_ADMIN], [CREATE_DATE]) VALUES (1, 3, 0, CAST(0x0000AC98015F0360 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_KHENTHUONG] ON 

INSERT [dbo].[TBL_KHENTHUONG] ([ID_KHENTHUONG], [TIEUDE], [LINK_ICON]) VALUES (1, N'Nhân viên xuất sắc quý nhất', N'https://static-devgcs.basecdn.net/inside/image/icons/awards/member_of_quarter.svg')
INSERT [dbo].[TBL_KHENTHUONG] ([ID_KHENTHUONG], [TIEUDE], [LINK_ICON]) VALUES (2, N'Nhân viên xuất sắc nhất năm', N'https://static-devgcs.basecdn.net/inside/image/icons/awards/member_of_year.svg')
INSERT [dbo].[TBL_KHENTHUONG] ([ID_KHENTHUONG], [TIEUDE], [LINK_ICON]) VALUES (3, N'Kỉ niệm làm việc 01 năm', N'https://static-devgcs.basecdn.net/inside/image/icons/awards/one_year_anniversary.svg')
SET IDENTITY_INSERT [dbo].[TBL_KHENTHUONG] OFF
SET IDENTITY_INSERT [dbo].[TBL_LIKE] ON 

INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (1, N'Like', N'https://share-devgcs.basecdn.net/reactions/like.svg', 0)
INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (2, N'Love', N'https://share-devgcs.basecdn.net/reactions/love.svg', 0)
INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (3, N'Haha', N'https://share-devgcs.basecdn.net/reactions/haha.svg', 0)
SET IDENTITY_INSERT [dbo].[TBL_LIKE] OFF
SET IDENTITY_INSERT [dbo].[TBL_LOAIBAIDANG] ON 

INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE], [ICON_APP]) VALUES (1, N'Tin Tức Nội Bộ', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/news.svg', NULL, NULL)
INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE], [ICON_APP]) VALUES (2, N'Khen Thưởng', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/praise.svg', NULL, NULL)
INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE], [ICON_APP]) VALUES (3, N'Thông Báo', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/ann.svg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_LOAIBAIDANG] OFF
INSERT [dbo].[TBL_LUOTXEM] ([ID_THONGDIEP], [ID_USER]) VALUES (8, 1)
INSERT [dbo].[TBL_LUOTXEM] ([ID_THONGDIEP], [ID_USER]) VALUES (8, 2)
INSERT [dbo].[TBL_LUOTXEM] ([ID_THONGDIEP], [ID_USER]) VALUES (9, 1)
SET IDENTITY_INSERT [dbo].[TBL_MEDIA] ON 

INSERT [dbo].[TBL_MEDIA] ([ID_MEDIA], [HINHANH], [TIEUDE], [CreatedDate], [CreatedBy], [template]) VALUES (1, N'bganh.jpg', N'Nhất tiếu nại hà vong xuyên tử sửa lần 6', CAST(0x0000ACA00015B2B0 AS DateTime), 1, N'bg10')
INSERT [dbo].[TBL_MEDIA] ([ID_MEDIA], [HINHANH], [TIEUDE], [CreatedDate], [CreatedBy], [template]) VALUES (2, N'', N'Vong Xuyên', CAST(0x0000ACA000163F50 AS DateTime), 2, N'bg10')
INSERT [dbo].[TBL_MEDIA] ([ID_MEDIA], [HINHANH], [TIEUDE], [CreatedDate], [CreatedBy], [template]) VALUES (3, N'', N'Nại hà', CAST(0x0000ACA000163F50 AS DateTime), 1, N'bg10')
SET IDENTITY_INSERT [dbo].[TBL_MEDIA] OFF
SET IDENTITY_INSERT [dbo].[TBL_MESSENGES] ON 

INSERT [dbo].[TBL_MESSENGES] ([ID_MESS], [NOIDUNG_MESS], [LINK_ICON_IN_MESSAGE], [ID_USER_SEND], [ID_USER_NHAN], [DATE_SEND], [TYPE_MESS], [COL_DISABLED_CURRENT]) VALUES (1, N'hello', NULL, 1, 2, NULL, NULL, 0)
INSERT [dbo].[TBL_MESSENGES] ([ID_MESS], [NOIDUNG_MESS], [LINK_ICON_IN_MESSAGE], [ID_USER_SEND], [ID_USER_NHAN], [DATE_SEND], [TYPE_MESS], [COL_DISABLED_CURRENT]) VALUES (2, N'hi', NULL, 2, 1, CAST(0x0000ACA5010DFD30 AS DateTime), NULL, 0)
INSERT [dbo].[TBL_MESSENGES] ([ID_MESS], [NOIDUNG_MESS], [LINK_ICON_IN_MESSAGE], [ID_USER_SEND], [ID_USER_NHAN], [DATE_SEND], [TYPE_MESS], [COL_DISABLED_CURRENT]) VALUES (3, N'Đang làm j á', NULL, 1, 2, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[TBL_MESSENGES] OFF
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] ON 

INSERT [dbo].[TBL_NHANVIEN] ([IDNV], [ID_PHONG], [CHUCVU], [HOTEN], [DIACHI], [NGAYSINH], [SDT], [GIOITINH], [NGAYVAOLAM]) VALUES (1, 1, N'Giám Đốc', N'Thân Anh Tuấn', N'Bình Định', CAST(0x00008C4500000000 AS DateTime), N'0965464614 ', N'Nam', CAST(0xCF320B00 AS Date))
INSERT [dbo].[TBL_NHANVIEN] ([IDNV], [ID_PHONG], [CHUCVU], [HOTEN], [DIACHI], [NGAYSINH], [SDT], [GIOITINH], [NGAYVAOLAM]) VALUES (2, 2, N'Phó giám đốc', N'Thái Kim Hùng', N'Bình Định', CAST(0x00008C4500000000 AS DateTime), N'0962934127 ', N'Nam', CAST(0x60330B00 AS Date))
INSERT [dbo].[TBL_NHANVIEN] ([IDNV], [ID_PHONG], [CHUCVU], [HOTEN], [DIACHI], [NGAYSINH], [SDT], [GIOITINH], [NGAYVAOLAM]) VALUES (3, 1, N'Thư ký', N'Nguyễn Hoài An', N'Bình Phước', CAST(0x00008BB200000000 AS DateTime), N'123467987  ', N'Nữ', CAST(0x62360B00 AS Date))
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] OFF
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_USER], [ID_LOAIBAIDANG]) VALUES (1, 1)
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_USER], [ID_LOAIBAIDANG]) VALUES (1, 2)
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_USER], [ID_LOAIBAIDANG]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[TBL_PHONGBAN] ON 

INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (1, N'Kỹ Thuật')
INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (2, N'Nhân Sự')
INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (3, N'Kế Toán')
SET IDENTITY_INSERT [dbo].[TBL_PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_THONGBAO] ON 

INSERT [dbo].[TBL_THONGBAO] ([ID_THONGBAO], [TIEUDE], [ID_BAIDANG], [ID_COMMENT], [ID_USER], [TimeTB], [TinhTrang]) VALUES (2448, N'Đã tạo một khen thưởng nhân viên:Thân Anh Tuấn ', 2515, NULL, 2, CAST(0x0000ACB40081E9D0 AS DateTime), 0)
INSERT [dbo].[TBL_THONGBAO] ([ID_THONGBAO], [TIEUDE], [ID_BAIDANG], [ID_COMMENT], [ID_USER], [TimeTB], [TinhTrang]) VALUES (2449, N'Đã thêm 1 bài đăng tin tức nội bộ', 2516, NULL, 2, CAST(0x0000ACB400827670 AS DateTime), 1)
INSERT [dbo].[TBL_THONGBAO] ([ID_THONGBAO], [TIEUDE], [ID_BAIDANG], [ID_COMMENT], [ID_USER], [TimeTB], [TinhTrang]) VALUES (2450, N'Đã tạo một đề xuấtMua máy in', 2517, NULL, 1, CAST(0x0000ACB40082BCC0 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TBL_THONGBAO] OFF
SET IDENTITY_INSERT [dbo].[TBL_THONGDIEPCEO] ON 

INSERT [dbo].[TBL_THONGDIEPCEO] ([ID_THONGDIEP], [TIEUDE], [CreatedDate], [CreatedBy], [NOIDUNG], [TYPEPOST], [COL_DISABLE]) VALUES (8, N'Chống dịch covid', CAST(0x0000ACA400888150 AS DateTime), 1, N'Tất cả mọi người cần phải đeo khẩu trang khi đến công ty', N'tranh Covid-19.jpg', 1)
INSERT [dbo].[TBL_THONGDIEPCEO] ([ID_THONGDIEP], [TIEUDE], [CreatedDate], [CreatedBy], [NOIDUNG], [TYPEPOST], [COL_DISABLE]) VALUES (9, N'Đón tết sum vầy', CAST(0x0000ACA4009DEDB0 AS DateTime), 1, N'Ai nhà xa được nghỉ sớm :)))', N'tet.jpg', 0)
INSERT [dbo].[TBL_THONGDIEPCEO] ([ID_THONGDIEP], [TIEUDE], [CreatedDate], [CreatedBy], [NOIDUNG], [TYPEPOST], [COL_DISABLE]) VALUES (10, N'Năm mới bình anh', CAST(0x0000ACB101526100 AS DateTime), 1, N'Happy new years', N'nammoi.jpg', 1)
SET IDENTITY_INSERT [dbo].[TBL_THONGDIEPCEO] OFF
SET IDENTITY_INSERT [dbo].[TBL_TRANGCANHAN] ON 

INSERT [dbo].[TBL_TRANGCANHAN] ([ID_CANHAN], [ID_USER], [AnhBia], [TieuSu]) VALUES (1, 1, N'6_1.jpg', N'Yêu Anime')
INSERT [dbo].[TBL_TRANGCANHAN] ([ID_CANHAN], [ID_USER], [AnhBia], [TieuSu]) VALUES (2, 2, NULL, NULL)
INSERT [dbo].[TBL_TRANGCANHAN] ([ID_CANHAN], [ID_USER], [AnhBia], [TieuSu]) VALUES (3, 3, N'khoanglang.jpg', NULL)
SET IDENTITY_INSERT [dbo].[TBL_TRANGCANHAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER] ON 

INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (1, 1, N'tuan@gmail.com', N'Tuấn', N'121212', N'5_images.jpg', N'be387a40-5562-472b-be0b-e958a7bb7a62', 0)
INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (2, 2, N'hung@gmail.com', N'Hùng ne', N'111111', N'1_2.jpg', N'95a373f4-9e3c-4b79-b2be-1d5497bdae83', 0)
INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (3, 3, N'an@gmail.com', N'An ', N'121212', N'light-vivid-colors-fragment-love-background-rain-fall-cover-93412.jpg', N'8ff568a8-132b-4027-b7af-dbcfb3561e38', 0)
SET IDENTITY_INSERT [dbo].[TBL_USER] OFF
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FFK_BAIDANG_Group] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID_GROUP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FFK_BAIDANG_Group]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FFK_BAIDANG_KT] FOREIGN KEY([ID_KHENTHUONG])
REFERENCES [dbo].[TBL_KHENTHUONG] ([ID_KHENTHUONG])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FFK_BAIDANG_KT]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BAIDANG_TBL_LOAIBAIDANG] FOREIGN KEY([ID_LOAIBAIDANG])
REFERENCES [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_TBL_BAIDANG_TBL_LOAIBAIDANG]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BAIDANG_TBL_USER] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_TBL_BAIDANG_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_BAIDANG] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_BAIDANG]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_UPDATE] FOREIGN KEY([UPDATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_UPDATE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_USE] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_USE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [PK_BAIDANG_LIKE_LIKE] FOREIGN KEY([ID_LIKE])
REFERENCES [dbo].[TBL_LIKE] ([ID_LIKE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [PK_BAIDANG_LIKE_LIKE]
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN]  WITH CHECK ADD  CONSTRAINT [FK_CANHAN] FOREIGN KEY([ID_CANHAN])
REFERENCES [dbo].[TBL_TRANGCANHAN] ([ID_CANHAN])
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN] CHECK CONSTRAINT [FK_CANHAN]
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_bd_canhan] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN] CHECK CONSTRAINT [FK_TBL_bd_canhan]
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN]  WITH CHECK ADD  CONSTRAINT [FK_TRANGCANHAN_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BaiDang_TRANGCANHAN] CHECK CONSTRAINT [FK_TRANGCANHAN_USER]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_COMMENT_TBL_BAIDANG] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_TBL_COMMENT_TBL_BAIDANG]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_USER_COMMENT] FOREIGN KEY([CreatedBy_cmt])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_USER_COMMENT]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_LIKE] FOREIGN KEY([ID_LIKE])
REFERENCES [dbo].[TBL_LIKE] ([ID_LIKE])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_LIKE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_UPDATE] FOREIGN KEY([UPDATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_UPDATE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_USE] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_USE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [PK_COMMENT_LIKE_COMMENT] FOREIGN KEY([ID_COMMENT])
REFERENCES [dbo].[TBL_COMMENT] ([ID_COMMENT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [PK_COMMENT_LIKE_COMMENT]
GO
ALTER TABLE [dbo].[TBL_Flow]  WITH CHECK ADD  CONSTRAINT [FK_CANHANFlow] FOREIGN KEY([ID_CANHAN])
REFERENCES [dbo].[TBL_TRANGCANHAN] ([ID_CANHAN])
GO
ALTER TABLE [dbo].[TBL_Flow] CHECK CONSTRAINT [FK_CANHANFlow]
GO
ALTER TABLE [dbo].[TBL_Flow]  WITH CHECK ADD  CONSTRAINT [FK_Flow_user_create] FOREIGN KEY([USER_Flow])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_Flow] CHECK CONSTRAINT [FK_Flow_user_create]
GO
ALTER TABLE [dbo].[TBL_GHIM]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GHIM] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_GHIM] CHECK CONSTRAINT [FK_TBL_GHIM]
GO
ALTER TABLE [dbo].[TBL_GHIM]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GHIM_TD] FOREIGN KEY([ID_THONGDIEP])
REFERENCES [dbo].[TBL_THONGDIEPCEO] ([ID_THONGDIEP])
GO
ALTER TABLE [dbo].[TBL_GHIM] CHECK CONSTRAINT [FK_TBL_GHIM_TD]
GO
ALTER TABLE [dbo].[TBL_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_GROUP] CHECK CONSTRAINT [FK_GROUP_USER]
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMEMBER_GRoup] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID_GROUP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER] CHECK CONSTRAINT [FK_GROUPMEMBER_GRoup]
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMEMBER_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER] CHECK CONSTRAINT [FK_GROUPMEMBER_USER]
GO
ALTER TABLE [dbo].[TBL_LUOTXEM]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LUOTXEM] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_LUOTXEM] CHECK CONSTRAINT [FK_TBL_LUOTXEM]
GO
ALTER TABLE [dbo].[TBL_LUOTXEM]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LUOTXEM_TD] FOREIGN KEY([ID_THONGDIEP])
REFERENCES [dbo].[TBL_THONGDIEPCEO] ([ID_THONGDIEP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_LUOTXEM] CHECK CONSTRAINT [FK_TBL_LUOTXEM_TD]
GO
ALTER TABLE [dbo].[TBL_MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_USE] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_MEDIA] CHECK CONSTRAINT [FK_MEDIA_USE]
GO
ALTER TABLE [dbo].[TBL_MESSENGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGESP_USER_NHAN] FOREIGN KEY([ID_USER_NHAN])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_MESSENGES] CHECK CONSTRAINT [FK_MESSAGESP_USER_NHAN]
GO
ALTER TABLE [dbo].[TBL_MESSENGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGESP_USER_SEND] FOREIGN KEY([ID_USER_SEND])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_MESSENGES] CHECK CONSTRAINT [FK_MESSAGESP_USER_SEND]
GO
ALTER TABLE [dbo].[TBL_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PHONGBAN] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[TBL_PHONGBAN] ([ID_PHONG])
GO
ALTER TABLE [dbo].[TBL_NHANVIEN] CHECK CONSTRAINT [FK_NV_PHONGBAN]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_NHOMQ_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] CHECK CONSTRAINT [FK_NHOMQ_USER]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_Q_LOAIBAIDANG] FOREIGN KEY([ID_LOAIBAIDANG])
REFERENCES [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] CHECK CONSTRAINT [FK_Q_LOAIBAIDANG]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NHOM_QUYEN_LOAIBAIDANG_TBL_NHOM_QUYEN_LOAIBAIDANG] FOREIGN KEY([ID_USER], [ID_LOAIBAIDANG])
REFERENCES [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_USER], [ID_LOAIBAIDANG])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] CHECK CONSTRAINT [FK_TBL_NHOM_QUYEN_LOAIBAIDANG_TBL_NHOM_QUYEN_LOAIBAIDANG]
GO
ALTER TABLE [dbo].[TBL_THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK__TBL_THONG__ID_BA__58671BC9] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_THONGBAO] CHECK CONSTRAINT [FK__TBL_THONG__ID_BA__58671BC9]
GO
ALTER TABLE [dbo].[TBL_THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_TB_BD] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_THONGBAO] CHECK CONSTRAINT [FK_TB_BD]
GO
ALTER TABLE [dbo].[TBL_THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_TB_CMT] FOREIGN KEY([ID_COMMENT])
REFERENCES [dbo].[TBL_COMMENT] ([ID_COMMENT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_THONGBAO] CHECK CONSTRAINT [FK_TB_CMT]
GO
ALTER TABLE [dbo].[TBL_THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_TB_U] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_THONGBAO] CHECK CONSTRAINT [FK_TB_U]
GO
ALTER TABLE [dbo].[TBL_THONGDIEPCEO]  WITH CHECK ADD  CONSTRAINT [FK_THONGDIEPCEO_USE] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_THONGDIEPCEO] CHECK CONSTRAINT [FK_THONGDIEPCEO_USE]
GO
ALTER TABLE [dbo].[TBL_TRANGCANHAN]  WITH CHECK ADD  CONSTRAINT [FK_TRANGCANHAN] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_TRANGCANHAN] CHECK CONSTRAINT [FK_TRANGCANHAN]
GO
ALTER TABLE [dbo].[TBL_USER]  WITH CHECK ADD  CONSTRAINT [FK_NV_USER] FOREIGN KEY([IDNV])
REFERENCES [dbo].[TBL_NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[TBL_USER] CHECK CONSTRAINT [FK_NV_USER]
GO
