create database KHOA_LUAN_MXH
USE [KHOA_LUAN_MXH]
GO
/****** Object:  Table [dbo].[TBL_BAIDANG]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BAIDANG](
	[ID_BAIDANG] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAIBAIDANG] [int] NULL,
	[TIEUDE] [nvarchar](max) NULL,
	[NOIDUNG_BAIDANG] [nvarchar](max) NULL,
	[ID_GROUP] [int] NULL,
	[TYPEPOST] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BAIDANG_LIKE]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BAIDANG_LIKE](
	[ID_BAIDANG] [int] NOT NULL,
	[ID_LIKE] [int] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[COL_DISABLED] [bit] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_BAIDANG_LIKE] PRIMARY KEY CLUSTERED 
(
	[ID_BAIDANG] ASC,
	[ID_LIKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM](
	[ID_CHOPHEDUYET] [int] IDENTITY(1,1) NOT NULL,
	[ID_GROUP] [int] NULL,
	[ID_BAIDANG_GROUP] [int] NULL,
	[ID_USER] [int] NULL,
 CONSTRAINT [PK_CHOPHEDUYET] PRIMARY KEY CLUSTERED 
(
	[ID_CHOPHEDUYET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_COMMENT]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMMENT](
	[ID_COMMENT] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAIDANG] [int] NULL,
	[CreatedBy] [int] NULL,
	[NOIDUNG_COMMENT] [nvarchar](max) NULL,
	[TYPEPOST] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ID_COMMENT_PARENT] [int] NULL,
	[ID_DANNHAN] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMMENT_LIKE]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMMENT_LIKE](
	[ID_COMMENT] [int] NOT NULL,
	[ID_LIKE] [int] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[COL_DISABLED] [bit] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_COMMENT_LIKE] PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC,
	[ID_LIKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GROUP]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUP](
	[ID_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_GROUP] [nvarchar](max) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GROUPMEMBER]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUPMEMBER](
	[ID_GROUP] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[QUYEN_ADMIN] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_ICON_DANNHAN]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ICON_DANNHAN](
	[ID_DANNHAN] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[COL_DISABLED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DANNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LIKE]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LIKE](
	[ID_LIKE] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[LINK_ICON] [nvarchar](max) NULL,
	[Disabled_icon] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LIKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LOAIBAIDANG]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_LOAIBAIDANG](
	[ID_LOAIBAIDANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIBAIDANG] [nvarchar](50) NULL,
	[BACKGROUND] [nvarchar](max) NULL,
	[LINK_ICON_BAIDANG] [varchar](max) NULL,
	[TEMPLATE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIBAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MESSAGES]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MESSAGES](
	[ID_MESS] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG_MESS] [nvarchar](max) NULL,
	[LINK_ICON_IN_MESSAGE] [varchar](max) NULL,
	[ID_USER_SEND] [int] NULL,
	[ID_USER_NHAN] [int] NULL,
	[DATE_SEND] [datetime] NULL,
	[TYPE_MESS] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONG] [int] NULL,
	[HOTEN] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](11) NULL,
	[GIOITINH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG](
	[ID_QUYEN] [int] NOT NULL,
	[ID_LOAIBAIDANG] [int] NOT NULL,
 CONSTRAINT [PK_NHOM_QUYEN_LOAIBAIDANG] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC,
	[ID_LOAIBAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_NHOM_QUYEN_USER]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHOM_QUYEN_USER](
	[ID_QUYEN] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_NHOM_QUYEN_USER] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PHANQUYEN]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHANQUYEN](
	[ID_QUYEN] [int] NOT NULL,
	[TENQUYEN] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PHONGBAN]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHONGBAN](
	[ID_PHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 11/28/2020 9:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[IDNV] [int] NULL,
	[Email] [varchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Pass] [varchar](max) NULL,
	[AVATAR] [nvarchar](max) NULL,
	[Token] [varchar](max) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BAIDANG] ON 

INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [ID_GROUP], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (1, 1, N'Test', N'Test cái j em ơi toang r', NULL, N'2020-04-26 00:00:00.000', NULL, 1, CAST(0x0000ABA900000000 AS DateTime), 1)
INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [ID_GROUP], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (2, 2, N'Khóa Luận', N'Làm sao đây', NULL, N'2021-12-12 00:00:00.000', NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_BAIDANG] ([ID_BAIDANG], [ID_LOAIBAIDANG], [TIEUDE], [NOIDUNG_BAIDANG], [ID_GROUP], [TYPEPOST], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (3, 1, N'Ra trường', N' Test', NULL, N'2020-04-20 00:00:00.000', NULL, 2, CAST(0x0000ABC100000000 AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[TBL_BAIDANG] OFF
SET IDENTITY_INSERT [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] ON 

INSERT [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] ([ID_CHOPHEDUYET], [ID_GROUP], [ID_BAIDANG_GROUP], [ID_USER]) VALUES (1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] OFF
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] ON 

INSERT [dbo].[TBL_COMMENT] ([ID_COMMENT], [ID_BAIDANG], [CreatedBy], [NOIDUNG_COMMENT], [TYPEPOST], [CreatedDate], [ID_COMMENT_PARENT], [ID_DANNHAN], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, 1, N'Test Comment', NULL, CAST(0x0000AC7900000000 AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_COMMENT] OFF
INSERT [dbo].[TBL_COMMENT_LIKE] ([ID_COMMENT], [ID_LIKE], [CREATE_DATE], [CREATE_BY], [COL_DISABLED], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, CAST(0x0000AC7900000000 AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_GROUP] ON 

INSERT [dbo].[TBL_GROUP] ([ID_GROUP], [TEN_GROUP], [CREATE_DATE], [CREATE_BY], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Group Kinh Doanh', CAST(0x0000AB6700000000 AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_GROUP] OFF
INSERT [dbo].[TBL_GROUPMEMBER] ([ID_GROUP], [ID_USER], [QUYEN_ADMIN], [CREATE_DATE]) VALUES (1, 1, 1, CAST(0x0000AB6700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_LIKE] ON 

INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (1, N'Like', N'like.svg', 0)
INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (2, N'Love', N'love.svg', 0)
INSERT [dbo].[TBL_LIKE] ([ID_LIKE], [title], [LINK_ICON], [Disabled_icon]) VALUES (3, N'Haha', N'haha.svg', 0)
SET IDENTITY_INSERT [dbo].[TBL_LIKE] OFF
SET IDENTITY_INSERT [dbo].[TBL_LOAIBAIDANG] ON 

INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE]) VALUES (1, N'Tin Tức Nội Bộ', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/news.svg', NULL)
INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE]) VALUES (2, N'Khen Thưởng', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/praise.svg', NULL)
INSERT [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG], [TENLOAIBAIDANG], [BACKGROUND], [LINK_ICON_BAIDANG], [TEMPLATE]) VALUES (3, N'Thông Báo', NULL, N'https://static-devgcs.basecdn.net/inside/image/update/ann.svg', NULL)
SET IDENTITY_INSERT [dbo].[TBL_LOAIBAIDANG] OFF
SET IDENTITY_INSERT [dbo].[TBL_MESSAGES] ON 

INSERT [dbo].[TBL_MESSAGES] ([ID_MESS], [NOIDUNG_MESS], [LINK_ICON_IN_MESSAGE], [ID_USER_SEND], [ID_USER_NHAN], [DATE_SEND], [TYPE_MESS]) VALUES (1, N'', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_MESSAGES] OFF
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] ON 

INSERT [dbo].[TBL_NHANVIEN] ([IDNV], [ID_PHONG], [HOTEN], [DIACHI], [NGAYSINH], [SDT], [GIOITINH]) VALUES (1, 1, N'Thân Anh Tuấn', N'HCM', CAST(0x00008C4500000000 AS DateTime), N'096293427  ', N'Nam')
INSERT [dbo].[TBL_NHANVIEN] ([IDNV], [ID_PHONG], [HOTEN], [DIACHI], [NGAYSINH], [SDT], [GIOITINH]) VALUES (2, 2, N'Thái Kim Hùng', N'HCM', CAST(0x00008D9E00000000 AS DateTime), N'161561654  ', N'Nam')
SET IDENTITY_INSERT [dbo].[TBL_NHANVIEN] OFF
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_QUYEN], [ID_LOAIBAIDANG]) VALUES (1, 1)
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_QUYEN], [ID_LOAIBAIDANG]) VALUES (1, 2)
INSERT [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] ([ID_QUYEN], [ID_LOAIBAIDANG]) VALUES (1, 3)
INSERT [dbo].[TBL_NHOM_QUYEN_USER] ([ID_QUYEN], [ID_USER]) VALUES (1, 1)
INSERT [dbo].[TBL_NHOM_QUYEN_USER] ([ID_QUYEN], [ID_USER]) VALUES (1, 3)
INSERT [dbo].[TBL_NHOM_QUYEN_USER] ([ID_QUYEN], [ID_USER]) VALUES (2, 2)
INSERT [dbo].[TBL_PHANQUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (1, N'Administrators')
INSERT [dbo].[TBL_PHANQUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[TBL_PHONGBAN] ON 

INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (1, N'Kỹ Thuật')
INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (2, N'Nhân Sự')
INSERT [dbo].[TBL_PHONGBAN] ([ID_PHONG], [TENPHONG]) VALUES (3, N'Kế Toán')
SET IDENTITY_INSERT [dbo].[TBL_PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER] ON 

INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (1, 1, N'tuan@gmail.com', N'Tuấn', N'121212', NULL, N'edef89f0-5479-4f08-9db8-c988014f5d08', 0)
INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (2, 2, N'hung@gmail.com', N'Hùng', N'111111', NULL, N'2d26ba68-7340-4029-8c70-ffc5d3457923', 0)
INSERT [dbo].[TBL_USER] ([ID_USER], [IDNV], [Email], [UserName], [Pass], [AVATAR], [Token], [TINHTRANG]) VALUES (3, 1, N'an@gmail.com', N'An', N'121212', NULL, N'a3a1b45d-2d8c-43fb-bb52-13fa2afae57b', 1)
SET IDENTITY_INSERT [dbo].[TBL_USER] OFF
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LOAIBAIDANG] FOREIGN KEY([ID_LOAIBAIDANG])
REFERENCES [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_LOAIBAIDANG]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_USE] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_USE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_USE_UPDATE] FOREIGN KEY([UpdateBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_USE_UPDATE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BAIDANG_TBL_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[TBL_BAIDANG] CHECK CONSTRAINT [FK_TBL_BAIDANG_TBL_GROUP]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_BAIDANG] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_BAIDANG]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_UPDATE] FOREIGN KEY([UPDATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_UPDATE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_LIKE_USE] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [FK_BAIDANG_LIKE_USE]
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE]  WITH CHECK ADD  CONSTRAINT [PK_BAIDANG_LIKE_LIKE] FOREIGN KEY([ID_LIKE])
REFERENCES [dbo].[TBL_LIKE] ([ID_LIKE])
GO
ALTER TABLE [dbo].[TBL_BAIDANG_LIKE] CHECK CONSTRAINT [PK_BAIDANG_LIKE_LIKE]
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_CHOPHEDUYET_BAIDANGNHOM] FOREIGN KEY([ID_BAIDANG_GROUP])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] CHECK CONSTRAINT [FK_BAIDANG_CHOPHEDUYET_BAIDANGNHOM]
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM]  WITH CHECK ADD  CONSTRAINT [FK_CHOPHEDUYET_NHOM] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] CHECK CONSTRAINT [FK_CHOPHEDUYET_NHOM]
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM]  WITH CHECK ADD  CONSTRAINT [FK_USE_CHOPHEDUYET_BAIDANGNHOM] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_CHOPHEDUYET_BAIDANGNHOM] CHECK CONSTRAINT [FK_USE_CHOPHEDUYET_BAIDANGNHOM]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_ICON_DANNHAN_COMMENT] FOREIGN KEY([ID_DANNHAN])
REFERENCES [dbo].[TBL_ICON_DANNHAN] ([ID_DANNHAN])
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_ICON_DANNHAN_COMMENT]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_COMMENT_TBL_BAIDANG] FOREIGN KEY([ID_BAIDANG])
REFERENCES [dbo].[TBL_BAIDANG] ([ID_BAIDANG])
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_TBL_COMMENT_TBL_BAIDANG]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_USER_COMMENT] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_USER_COMMENT]
GO
ALTER TABLE [dbo].[TBL_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_USER_update_COMMENT] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT] CHECK CONSTRAINT [FK_USER_update_COMMENT]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_LIKE] FOREIGN KEY([ID_LIKE])
REFERENCES [dbo].[TBL_LIKE] ([ID_LIKE])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_LIKE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_UPDATE] FOREIGN KEY([UPDATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_UPDATE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_LIKE_USE] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [FK_COMMENT_LIKE_USE]
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE]  WITH CHECK ADD  CONSTRAINT [PK_COMMENT_LIKE_COMMENT] FOREIGN KEY([ID_COMMENT])
REFERENCES [dbo].[TBL_COMMENT] ([ID_COMMENT])
GO
ALTER TABLE [dbo].[TBL_COMMENT_LIKE] CHECK CONSTRAINT [PK_COMMENT_LIKE_COMMENT]
GO
ALTER TABLE [dbo].[TBL_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_GROUP] CHECK CONSTRAINT [FK_GROUP_USER]
GO
ALTER TABLE [dbo].[TBL_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER2] FOREIGN KEY([UPDATE_BY])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_GROUP] CHECK CONSTRAINT [FK_GROUP_USER2]
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMEMBER] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER] CHECK CONSTRAINT [FK_GROUPMEMBER]
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMEMBER_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_GROUPMEMBER] CHECK CONSTRAINT [FK_GROUPMEMBER_USER]
GO
ALTER TABLE [dbo].[TBL_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGESP_USER_NHAN] FOREIGN KEY([ID_USER_NHAN])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_MESSAGES] CHECK CONSTRAINT [FK_MESSAGESP_USER_NHAN]
GO
ALTER TABLE [dbo].[TBL_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGESP_USER_SEND] FOREIGN KEY([ID_USER_SEND])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_MESSAGES] CHECK CONSTRAINT [FK_MESSAGESP_USER_SEND]
GO
ALTER TABLE [dbo].[TBL_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PHONGBAN] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[TBL_PHONGBAN] ([ID_PHONG])
GO
ALTER TABLE [dbo].[TBL_NHANVIEN] CHECK CONSTRAINT [FK_NV_PHONGBAN]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_NHOMQ_QUYEN] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[TBL_PHANQUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] CHECK CONSTRAINT [FK_NHOMQ_QUYEN]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_Q_LOAIBAIDANG] FOREIGN KEY([ID_LOAIBAIDANG])
REFERENCES [dbo].[TBL_LOAIBAIDANG] ([ID_LOAIBAIDANG])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_LOAIBAIDANG] CHECK CONSTRAINT [FK_Q_LOAIBAIDANG]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_USER]  WITH CHECK ADD  CONSTRAINT [FK_NHOMQ_Q] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[TBL_PHANQUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_USER] CHECK CONSTRAINT [FK_NHOMQ_Q]
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_QUYEN_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TBL_NHOM_QUYEN_USER] CHECK CONSTRAINT [FK_USER_QUYEN_USER]
GO
ALTER TABLE [dbo].[TBL_USER]  WITH CHECK ADD  CONSTRAINT [FK_NV_USER] FOREIGN KEY([IDNV])
REFERENCES [dbo].[TBL_NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[TBL_USER] CHECK CONSTRAINT [FK_NV_USER]
GO
